.Assets {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2vh 2vw;
}

.Table {
	width: 70vw;
}

.Buttons {
	display: flex;
	flex-direction: row;
	width: 70vw;
	justify-content: space-between;
	padding: 2vh 0;
}
